.container {
    background: #5e5e5e;
    margin: auto;
    padding: 20px;
    margin-top: 30px;
    border: 2px solid #747474;
    background: linear-gradient(135deg, rgba(94, 94, 94, 0.1),  rgb(94, 94, 94, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 0 10px #ababab;
    transition-duration: 0.3s;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
}
.code {
    margin: 10px;
}

code {
    display: inline-block;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1),  rgba(233, 233, 233, .01));
    color: rgb(244, 244, 244);
    border-radius: 6px;
    font-family: poppins;
    white-space: pre-wrap; 
    overflow-x: auto;
    font-size: clamp(.4rem, 2vw, 1rem);
    padding: 3px;
    margin: 5px;
    vertical-align: middle;
    
}
code:hover {
    border-radius: 8px;
    box-shadow: 0 0 20px #ababab;
    -webkit-transform: scale(1.002);
    transform: scale(1.002);
    padding: 5px;
    transition: .5s;
}
ul {
    background: #5e5e5e;
    margin: max-content;
    padding: 20px;
    padding-left: 35px;
    margin-top: 30px;
    border: 2px solid #747474;
    background: linear-gradient(135deg, rgba(94, 94, 94, 0.1),  rgb(94, 94, 94, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 0 10px #ababab;
}
li {
    padding-left: 5px;
    padding-right: 5px;
}
li:hover {
    border-radius: 8px;
    box-shadow: 0 0 20px #ababab;
    transform: translateX(10px);
    transition: .5s;
}
li::marker{
    color: #dedfe0;
    font-size: clamp(.6rem, 1.5vw, 1.4rem);
}
a:hover {
    box-shadow: 0 0 20px #ababab;
    transform: translateX(10px);
    border-radius: 8px;
    transition: .5s;
}
img {
    border-radius: 8px;
}
.Title, h4 {
    position: relative;
    width: max-content;
}
.Title:hover, h4:hover {
    color: #fdfdfe;
}
.Title::before, h4::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #c7522a;
    transition: all .5s;
}

.Title:hover::before, h4:hover::before {
    width: 100%;
}
@media (max-width: 430px) {
    
}